*{
   margin: 1px;
   padding: 0;
   font-family: cursive;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../The-Junction-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: black;
    border: 1px solid white transparent;
}
.logo img{
    float: left;
    width: 80px;
    height: auto;
}
.main{
    max-width: 1200px;
}
ul li a:hover{
   background-color: white; 
}
ul li.active a{
background-color: white;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: Georgia;

}
h1:hover{
    background-color: chartreuse;
    margin: 1px;
    padding: 1px;
}
h2:hover{
    background-color: chartreuse;
}
.title2{
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-40%,-50%);
    color: white;
    font-family: Georgia;
}
.button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: saddlebrown;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

}
.button:hover{
    background-color: chartreuse;
}
.copyright{
    position: absolute;
    top: 97%;
    color: white;
}
.button a{
    color: white;
    border: 1px solid white transparent;
}